#content
  %ul.nav.nav-tabs
    %li.active
      = link_to 'View performance', results_performance_path, data: {method: :post, remote: true}
    %li
      = link_to 'View positions', results_positions_path, data: {method: :post, remote: true}
  %h3 Strategy Performance
  .voffset5
  %h4 Parameters
  .row
    .col-sm-5
      %table.table.table-condensed.table-borderless
        %tr
          %td Rebalance frequency
          %td.right-aligned annual
        %tr
          %td Market cap floor, $mm
          %td.right-aligned= number_with_delimiter(@source[:parameters][:market_cap_floor])
        %tr
          %td Market cap ceiling, $mm
          %td.right-aligned= number_with_delimiter(@source[:parameters][:market_cap_ceiling])
  .voffset5
  %h4 By period
  %table.table.table-condensed
    %tr.table-header.blue-background
      %th{ rowspan: 2 } Period ending
      %th{ rowspan: 2 } Market value at period end
      %th{ colspan: 2 } by period
      %th{ colspan: 2 } by period, annualized
      %th{ colspan: 2 } cumulative calendar year
      %th{ colspan: 2 } rolling 12 months
    %tr.table-header.blue-background
      - 4.times do
        %th tested strategy
        %th S&P 500
    %tr.right-aligned
      %td.left-aligned
        %i Initial balance
      %td
        %i= number_to_currency(@source[:parameters][:initial_balance])
      - 8.times do
        %td
    - @source[:performance].each do |k, period|
      %tr.right-aligned
        %td.left-aligned= period[:date]
        %td= number_to_currency(period[:balance])
        %td= pretty_percentage(period[:by_period][:return])
        %td= pretty_percentage(period[:by_period][:sp500_return])
        %td= pretty_percentage(period[:annualized][:return])
        %td= pretty_percentage(period[:annualized][:sp500_return])
        %td= pretty_percentage(period[:cumulative_cy][:return])
        %td= pretty_percentage(period[:cumulative_cy][:sp500_return])
        %td= pretty_percentage(period[:rolling_12_months][:return])
        %td= pretty_percentage(period[:rolling_12_months][:sp500_return])
  .voffset5
  %h4 Aggregated
  %p= "For the period between #{@source[:aggregated][:start_date]} and #{@source[:aggregated][:end_date]}"
  .voffset5
  .row
    .col-sm-7
      %table.table.table-condensed
        %tr.table-header.blue-background
          %th
          %th tested strategy
          %th S&P 500
        - @source[:aggregated][:table].each do |line, items|
          %tr.right-aligned
            %td.left-aligned= items[:description]
            %td= line == 'e_sharpe' ? items[:portfolio] : pretty_percentage(items[:portfolio])
            %td= line == 'e_sharpe' ? items[:sp500] : pretty_percentage(items[:sp500])
