= content_for :head do
  %script(type="text/javascript" src="http://js.pusher.com/2.1/pusher.min.js")

.container
  #content
    .row
      .col-sm-8.col-sm-offset-3
        %h3 Strategy parameters
        .voffset4
        = bootstrap_form_for @engine, url: '/params_entry', remote: true, layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-3' do |f|
          = f.text_field :position_count, label_class: "left-aligned", label: '# of positions in portfolio', value: '20'
          = f.select :rebalance_frequency, [['annual', 1], ['quarterly', 2], ['monthly', 3]], { label: 'Rebalance frequency'}
          = f.text_field :market_cap_floor, label: 'Market cap floor, $mm', value: 200
          = f.text_field :market_cap_ceiling, label: 'Market cap ceiling, $mm'
          = f.text_field :initial_balance, value: 1000000
          = f.check_box :background, label: 'Execute in background (significant slowdown)'
          = f.check_box :test_run, label: 'Test run (only 1993 through 2001)'
          = f.text_field :start_date, value: '1993-12-31'
          = f.check_box :single_period, label: 'One period only'
          .voffset4
          = f.submit 'Generate', class: "btn btn-primary btn-lg"
        .voffset4
        #progress-status
          %p.messages
        .voffset4
        #results-link-area
